@import "../../theme/variables.scss";
.activity {
  margin-left: 35px;
  color: #8d9296;
  height: 45px;
  line-height: 52px;
  font-family: $font-family-montserrat;
  font-size: 14px;
  img {
    height: 30px;
    width: auto;
    border-radius: 30px;
    margin-right: 10px;
    vertical-align: middle;
  }
  .number {
    line-height: 1;
    font-size: 12px;
    font-family: "Montserrat";
    background-color: $primary;
    color: #FAFAFA;
    padding: 4px;
    width: 13px;
    border-radius: 15px;
    height: 13px;
    display: inline-block;
    text-align: center;
    float: right;
    margin-right: 40px;
    margin-top: 16px;
  }
}
