@import "../../theme/variables.scss";
.titles {
    margin-left: $side-bar-size;
    background: #ECECEC;
    padding-top: 40px;
    .contain {
        width: 50%;
        margin: 0 auto;
        padding-bottom: 40px;
        .desc {
            color: $primary;
            font-size: 24px;
            font-family: "Sansation";
            padding-bottom: 20px;
            text-align: center;
            letter-spacing: 2px;
            background: #FAFAFA;
            width: 200px;
            line-height: 1.5;
            border-radius: 7px;
            vertical-align: middle;
            height: 20px;
            border: 1px solid #D4D4D4;
            margin: 0 auto;
            i {
                font-size: 18px;
                padding-left: 10px;
                color: #8D9296;
                &:hover {
                    color: $primary;
                    cursor: pointer;
                }
            }
        }
        .title {
            padding-bottom: 30px;
            .avatarImg {
                position: relative;
                z-index: 1;
                img {
                    width: 50px;
                    height: auto;
                    border-radius: 40px;
                    border: 5px solid #ECECEC;
                    display: inline-block;
                    margin-bottom: -25px;
                    box-sizing: content-box;
                }
                .author {
                    display: inline-block;
                    font-family: "Montserrat";
                    font-size: 16px;
                    color: #8D9296;
                    letter-spacing: 2px;
                    line-height: 3.3;
                }
            }
        }
        .userTitle {
            position: relative;
            z-index: 0;
            display: inline-block;
            background: #FAFAFA;
            border-radius: 6px;
            padding: 20px 30px;
            margin-left: 22px;
            margin-top: -20px;
            color: #8D9296;
            font-family: "Sansation";
            box-shadow: 0 0 25px 0 rgba(0,0,0,0.05);
            min-width: 90%;
            border: 1px solid #D4D4D4;
            .buttons {
                position: absolute;
                width: 26px;
                padding: 2px 5px;
                bottom: 0;
                border-radius: 8px;
                font-size: 24px;
                margin-left: -100px;
                color: #A6ACB1;
                .points {
                    color: #44C7A7;
                    font-size: 17px;
                    text-align: end;
                }
                i {
                    padding-right: 10px;
                    padding-left: 5px;
                    &:hover {
                        color: $primary;
                        cursor: pointer;
                    }
                }
            }
        }
        .input {
            width: 100%;
            margin: 20px auto 40px auto;
            .avatarImg {
                position: relative;
                z-index: 1;
                img {
                    width: 50px;
                    height: auto;
                    border-radius: 40px;
                    border: 5px solid #ECECEC;
                    display: inline-block;
                    box-sizing: content-box;
                    margin-bottom: -30px;
                }
                .author {
                    display: inline-block;
                    font-family: "Montserrat";
                    font-size: 19px;
                    color: $primary;
                    letter-spacing: 2px;
                    line-height: 3.3;
                }
            }
            input {
                width: 94%;
                height: 50px;
                border-radius: 6px;
                background: none;
                border: none;
                background-color: rgb(250, 250, 250);
                border: 2px solid rgba(141, 146, 150, 0.29);
                margin-left: 21px;
                margin-top: -21px;
                padding-left: 30px;
                font-family: "Sansation";
                color: #8D9296;
                font-size: 16px;
resize: both;
                &:focus {
                    outline: none;
                    border: 2px solid $primary;
                }
            }
            button {
                float: right;
                margin-top: 5px;
                background: none;
                background-color: #FAFAFA;
                border: 2px solid rgba(141, 146, 150, 0.29);
                padding: 5px 20px;
                color: #8D9296;
                border-radius: 5px;
                font-size: 16px;
                font-family: "Sansation";
                &:hover {
                    background-color: $primary;
                    border: 2px solid $primary;
                    color: white;
                }
            }
        }
    }
}
