@font-face {
  font-family:'Sansation';
  src:url(asset-path('../../static/fonts/Sansation_Bold.ttf'));
  src:url(asset-path('../../static/fonts/Sansation_Regular.ttf')) format('embedded-opentype'),
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  //overflow-x: hidden;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


// Custom Colors
$cyan: #33e0ff;
$humility: #777;


$primary: #44C7A7;
$main-bg: #ECECEC;
$side-bar-size: 0px;
$font-family-sansation: 'Sansation';
$font-family-montserrat: 'Montserrat';

//.MainContainer {
//    padding-top: 50px;
//    margin-left: $side-bar-size;
//	background-color: $main-bg;
//	min-height: calc(100vh - 90px);
//	overflow-y: auto;
//}


$brand-secondary: #e25139;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;
$text-color: #333;
$font-size-base: 14px;

a {
  &:hover{
    text-decoration: none;
  }
  &:active{
    text-decoration: none;
  }
  &:link{
    text-decoration: none;
  }
}
