@font-face {
  font-family:'Sansation';
  src:url(asset-path('../../static/fonts/Sansation_Bold.ttf'));
  src:url(asset-path('../../static/fonts/Sansation_Regular.ttf')) format('embedded-opentype'),
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


// Custom Colors
$cyan: #33e0ff;
$humility: #777;


$primary: #44C7A7;
$side-bar-size: 250px;
$font-family-sansation: 'Sansation';
$font-family-montserrat: 'Montserrat';


$brand-secondary: #e25139;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;
$text-color: #333;
$font-size-base: 14px;

a {
  &:hover{
    text-decoration: none;
  }
  &:active{
    text-decoration: none;
  }
  &:link{
    text-decoration: none;
  }
}
