@import "../../theme/variables.scss";
.loginPage {
    background-color: #FAFAFA;
    width: 400px;
    height: 85px;
    margin: 0 auto;
    border-radius: 10px;
    top: 15%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.05);
    border: 2px solid rgba(141, 146, 150, 0.29);
    display: inline-block;
    text-align: center;
    p {
        color: $primary;
        font-weight: bold;
        margin-top: -2px;
    }
    form {
        margin: 15px 0;
        text-align: center;
        display: inline-block;
        width: 100%;
        input {
            padding: 5px 10px;
            border-radius: 5px;
            display: inline-block;
            background-color: rgb(250, 250, 250);
            border: 2px solid rgba(141, 146, 150, 0.29);
            &:focus {
                outline: none;
                border: 2px solid $primary;
            }
        }
        .submit {
            display: inline-block;
            background: none;
            background-color: #FAFAFA;
            border: 2px solid rgba(141, 146, 150, 0.29);
            padding: 4px 20px;
            color: #8D9296;
            border-radius: 5px;
            font-size: 14px;
            font-family: "Sansation";
            cursor: pointer;
            margin-left: 20px;
            &:hover {
                background-color: $primary;
                border: 2px solid $primary;
                color: white;
            }
        }
    }
}
