.app{

}

.mainNav {
    background-color: #e5e4e4;
    width: 250px;
    height: 1000px;
    position: fixed;
}

.search{
    width: 100%;
    height: 60px;
    background-color: #383a3b;
    margin-top: -19px;
    position: fixed;
    margin-left: 250px;

}

.appContent{
display: inline-block;
}
